.image{
    width: 100%;
    height: 100%;
}

.tableHead1{
    font-weight: bold;
    font-size: 25px;
}

.tableHead2{
    font-weight: bold;
}

.extraInfo>h4{
    font-size: 20px;
    margin-bottom: 20px;
}

.card-body p:nth-child(1){
    font-weight: bold;
}